[submodule "amiro_robot"]
	path = amiro_robot
	url = https://github.com/tik0/amiro_robot.git
[submodule "rviz_textured_quads"]
	path = rviz_textured_quads
	url = https://github.com/lucasw/rviz_textured_quads.git
[submodule "grid_map"]
	path = grid_map
	url = https://github.com/ethz-asl/grid_map.git
