<launch>

  <node name="master_discovery" pkg="master_discovery_fkie" type="master_discovery" respawn="true">
    <rosparam param="robot_hosts">['twbserver.ks.techfak.uni-bielefeld.de']</rosparam>
  </node>

  <node name="master_sync" pkg="master_sync_fkie" type="master_sync" respawn="true">
    <rosparam param="sync_topics">['/genicam_cam*', '/artoolkit5_*']</rosparam>
  </node>

</launch>