<?xml version="1.0"?>
<launch>

  <param name="use_sim_time" value="true"/>
  <arg name="rviz" default="true" />

  <!--<group if="$(arg rviz)">-->
    <!--<include file="$(find rviz_textured_quads)/launch/map_visualization.xml"/>-->
    <!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(find rviz_textured_quads)/demo.rviz" respawn="true" />-->
  <!--</group>-->

<!--   <node name="rqt_topic" pkg="rqt_topic" type="rqt_topic"/> -->
<!--   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find potential_field_navigation)/config/config.rviz" output="screen" respawn="true"/> -->

  
  <!--Image-->
  <node name="image_selecter_node" pkg="potential_field_navigation" type="image_selecter_node" output="screen" cwd="ROS_HOME">
    <param name="image_publisher_topic" value="/image"/>
  </node>
  <node name="image_to_vectorfield_node" pkg="potential_field_navigation" type="image_to_vectorfield_node" output="screen" cwd="ROS_HOME">
    <param name="image_listener_topic" value="/image"/>
    <param name="potentialfield_publisher_topic" value="/potentialfield/image"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/image"/>
    <param name="heuristic_abs_min" value="0.05"/> <?Undefined An arbitrary value which indecates the start of value decay?>
    <param name="heuristic_factor" value="1.0"/> <?Maximum vector lengh?>
    <param name="heuristic_apply" value="1"/> <?Use heuristic instead of native vectorfield?>
    
  </node>
  <node name="vectorfield_to_gridmap_node" pkg="potential_field_navigation" type="vectorfield_to_gridmap_node" output="screen" cwd="ROS_HOME">
    <param name="meter_per_pixel" value="0.003"/>
    <param name="frame_id" value="world"/>
    <param name="vectorfield_listener_topic" value="/vectorfield/image"/>
    <param name="gridmap_publisher_topic" value="/vectorfield/image/gridmap"/>
  </node>
  
  
  <!--AMiRo 1 Odometry-->
<!--  <node name="odom1_to_vectorfield_node" pkg="potential_field_navigation" type="odom_to_vectorfield_node" output="screen" cwd="ROS_HOME">
    <param name="meter_per_pixel" value="0.003"/>
    <param name="frame_id" value="world"/>
    <param name="amiro_odom_listener_topic" value="/amiro1/odom"/>
    <param name="potentialfield_publisher_topic" value="/potentialfield/amiro1"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/amiro1"/>
    <param name="heuristic_abs_min" value="0.01"/> <?Undefined An arbitrary value which indecates the start of value decay?>
    <param name="heuristic_factor" value="1.0"/> <?Maximum vector lengh?>
    <param name="minimum_pose_difference_pixel" value="10.0"/> <?Only recalculate the map if the robot has moved that much?>
  </node>
  <node name="odom1_vectorfield_to_gridmap_node" pkg="potential_field_navigation" type="vectorfield_to_gridmap_node" output="screen" cwd="ROS_HOME">
    <param name="meter_per_pixel" value="0.003"/>
    <param name="frame_id" value="world"/>
    <param name="vectorfield_listener_topic" value="/vectorfield/amiro1"/>
    <param name="gridmap_publisher_topic" value="/vectorfield/amiro1/gridmap"/>
  </node>-->
  
  <!--AMiRo 2 Odometry-->
<!--  <node name="odom2_to_vectorfield_node" pkg="potential_field_navigation" type="odom_to_vectorfield_node" output="screen" cwd="ROS_HOME">
    <param name="meter_per_pixel" value="0.003"/>
    <param name="frame_id" value="world"/>
    <param name="amiro_odom_listener_topic" value="/amiro2/odom"/>
    <param name="potentialfield_publisher_topic" value="/potentialfield/amiro2"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/amiro2"/>
    <param name="heuristic_abs_min" value="0.01"/> <?Undefined An arbitrary value which indecates the start of value decay?>
    <param name="heuristic_factor" value="1.0"/> <?Maximum vector lengh?>
    <param name="minimum_pose_difference_pixel" value="10.0"/> <?Only recalculate the map if the robot has moved that much?>
  </node>
  <node name="odom2_vectorfield_to_gridmap_node" pkg="potential_field_navigation" type="vectorfield_to_gridmap_node" output="screen" cwd="ROS_HOME">
    <param name="meter_per_pixel" value="0.003"/>
    <param name="frame_id" value="world"/>
    <param name="vectorfield_listener_topic" value="/vectorfield/amiro2"/>
    <param name="gridmap_publisher_topic" value="/vectorfield/amiro2/gridmap"/>
  </node>-->
  
  <!--Fusion-->
<!--  <node name="vectorfield_merger_odom_node" pkg="potential_field_navigation" type="vectorfield_merger_node" output="screen" cwd="ROS_HOME">
    <param name="field1_listener_topic" value="/vectorfield/amiro1"/>
    <param name="field2_listener_topic" value="/vectorfield/amiro2"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/amiro1_amiro2/fused"/>
  </node>
  <node name="vectorfield_merger_node" pkg="potential_field_navigation" type="vectorfield_merger_node" output="screen" cwd="ROS_HOME">
    <param name="field1_listener_topic" value="/vectorfield/amiro1_amiro2/fused"/>
    <param name="field2_listener_topic" value="/vectorfield/image"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/fused"/>
  </node>
  <node name="fusion_vectorfield_to_gridmap_node" pkg="potential_field_navigation" type="vectorfield_to_gridmap_node" output="screen" cwd="ROS_HOME">
    <param name="meter_per_pixel" value="0.003"/>
    <param name="frame_id" value="world"/>
    <param name="vectorfield_listener_topic" value="/vectorfield/fused"/>
    <param name="gridmap_publisher_topic" value="/vectorfield/fused/gridmap"/>
  </node>-->
  
  <!--Steering-->
  <node name="amiro1_vectorfield_to_kinematic_node" pkg="potential_field_navigation" type="vectorfield_to_kinematic_node" output="screen" cwd="ROS_HOME">
    <param name="meter_per_pixel" value="0.003"/>
    <param name="frame_id" value="world"/>
    <param name="vectorfield_listener_topic" value="/vectorfield/image"/>
    <param name="amiro_odom_listener_topic" value="/amiro1/odom"/>
    <param name="velocityScale_meterPerSecond" value="0.1"/>
    <param name="angularScale_radPerSecond" value="0.5"/>
  </node>
</launch>
