<?xml version="1.0"?>
<launch>

  <param name="use_sim_time" value="false"/>
  <arg name="rviz" default="true" />
  <arg name="cam" default="cam4"/>
  <arg name="markerId" default="1"/>
  <arg name="meter_per_pixel" value="0.003"/>
  <arg name="pixel_mode" value="True"/>

  <!--<group if="$(arg rviz)">-->
    <!--<include file="$(find rviz_textured_quads)/launch/map_visualization.xml"/>-->
    <!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(find rviz_textured_quads)/demo.rviz" respawn="true" />-->
  <!--</group>-->

<!--   <node name="rqt_topic" pkg="rqt_topic" type="rqt_topic"/> -->
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find potential_field_navigation)/config/config$(arg markerId).rviz" output="screen" respawn="true"/>

  
  <!--Image-->
  <node name="image_selecter_node" pkg="potential_field_navigation" type="image_selecter_node" output="screen" cwd="ROS_HOME">
    <param name="image_publisher_topic" value="/image"/>
  </node>

  <node name="image_to_vectorfield_node" pkg="potential_field_navigation" type="image_to_vectorfield_node" output="screen" cwd="ROS_HOME">
    <param name="image_listener_topic" value="/image"/>
    <param name="potentialfield_publisher_topic" value="/potentialfield/image"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/image"/>
    <param name="heuristic_abs_min" value="0.05"/> <?Undefined An arbitrary value which indecates the start of value decay?>
    <param name="heuristic_factor" value="1.0"/> <?Maximum vector lengh?>
    <param name="heuristic_apply" value="1"/> <?Use heuristic instead of native vectorfield?>
    
  </node>
  <node name="vectorfield_to_gridmap_node" pkg="potential_field_navigation" type="vectorfield_to_gridmap_node" output="screen" cwd="ROS_HOME">
    <param name="meter_per_pixel" value="$(arg meter_per_pixel)"/>
    <param name="frame_id" value="world"/>
    <param name="vectorfield_listener_topic" value="/vectorfield/image"/>
    <param name="gridmap_publisher_topic" value="/vectorfield/image/gridmap"/>
  </node>

  <!--Transform-->
  <node if="$(arg pixel_mode)" name="tf_world_cam" pkg="tf" type="static_transform_publisher" args="-1.5 1.5 0 0 0 3.14159 world cam 100"/>

  <!--AMiRo Odometry to vectorfield-->
  <node name="odom1_to_vectorfield_node" pkg="potential_field_navigation" type="odom_to_vectorfield_node" output="screen" cwd="ROS_HOME">
    <param name="meter_per_pixel" value="$(arg meter_per_pixel)"/>
    <param name="frame_id" value="world"/>
    <param name="amiro_odom_listener_topic" value="/amiro$(arg markerId)/odom"/>
    <param name="potentialfield_publisher_topic" value="/potentialfield/amiro$(arg markerId)"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/amiro$(arg markerId)"/>
    <param name="heuristic_abs_min" value="0.01"/> <?Undefined An arbitrary value which indecates the start of value decay?>
    <param name="heuristic_factor" value="1.0"/> <?Maximum vector lengh?>
    <param name="minimum_pose_difference_pixel" value="10.0"/> <?Only recalculate the map if the robot has moved that much?>
    <param name="pixel_mode" value="$(arg pixel_mode)"/> <?If this is true pixelmode is activated otherwhise normal mode (metric)?>
  </node>

  <node name="odom$(arg markerId)_vectorfield_to_gridmap_node" pkg="potential_field_navigation" type="vectorfield_to_gridmap_node" output="screen" cwd="ROS_HOME">
    <param name="meter_per_pixel" value="$(arg meter_per_pixel)"/>
    <param name="frame_id" value="world"/>
    <param name="vectorfield_listener_topic" value="/vectorfield/amiro$(arg markerId)"/>
    <param name="gridmap_publisher_topic" value="/vectorfield/amiro$(arg markerId)/gridmap"/>
    <param name="pixel_mode" value="$(arg pixel_mode)"/> <?If this is true pixelmode is activated otherwhise normal mode (metric)?>
  </node>


  <!--AMiRo Bridges-->
  <include file="$(find potential_field_navigation)/launch/bridges.xml">
    <arg name="markerId" value="$(arg markerId)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="pixel_mode" value="$(arg pixel_mode)" />
    <arg name="meter_per_pixel" value="$(arg meter_per_pixel)" />
  </inlcude>
  
  <!--Steering-->
  <node name="amiro$(arg markerId)_vectorfield_to_kinematic_node" pkg="potential_field_navigation" type="vectorfield_to_kinematic_node" output="screen" cwd="ROS_HOME">
    <param name="meter_per_pixel" value="0.003"/>
    <param name="vectorfield_listener_topic" value="/vectorfield/image"/>
    <param name="amiro_odom_listener_topic" value="/amiro$(arg markerId)/odom" unless="$(arg pixel_mode)"/>
    <param name="amiro_odom_listener_topic" value="/tracking/pixel/$(arg markerId)" if="$(arg pixel_mode)" />
    <param name="twist_publisher_topic" value="/amiro$(arg markerId)/vector"/>
    <param name="velocityScale_meterPerSecond" value="0.1"/>
    <param name="angularScale_radPerSecond" value="0.5"/>
    <param name="pixel_mode" value="$(arg pixel_mode)"/>
    <param name="twist_mode" value="False"/>
  </node>
</launch>
