<?xml version="1.0"?>
<launch>

  <param name="use_sim_time" value="false"/>
  <arg name="rviz" default="true" />
  <arg name="cam" default="cam3_2"/>
  <arg name="marker_id" default="3"/>
  <arg name="meter_per_pixel_original" value="0.0023"/>
  <arg name="image_width_original" value="2560"/>
  <arg name="image_height_original" value="2048"/>
  <arg name="pixel_scale" value="0.1"/>
  <arg name="pixel_mode" value="true"/>
  <arg name="meter_per_pixel" value="$(eval arg('meter_per_pixel_original') / arg('pixel_scale'))"/>
  <arg name="image_width" value="$(eval arg('image_width_original') * arg('pixel_scale'))"/>
  <arg name="image_height" value="$(eval arg('image_height_original') * arg('pixel_scale'))"/>

  <arg name="tracker_prefix" value="/artoolkit5_cam3_2/cam"/>

  <arg name="amiro_heuristic_abs_min" value="0.4"/>
  <arg name="amiro_heuristic_factor" value="0.5"/>
  <arg name="amiro_minimum_pose_difference_pixel" value="2"/>

  <!--<group if="$(arg rviz)">-->
    <!--<include file="$(find rviz_textured_quads)/launch/map_visualization.xml"/>-->
    <!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(find rviz_textured_quads)/demo.rviz" respawn="true" />-->
  <!--</group>-->

<!--   <node name="rqt_topic" pkg="rqt_topic" type="rqt_topic"/> -->
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find potential_field_navigation)/config/config.rviz" output="screen" respawn="true"/>

  <!--Sync topics-->
  <include file="$(find potential_field_navigation)/launch/master_sync.launch" />

  <!-- Image Viewer Node-->
  <node name="image_viewer_node" pkg="potential_field_navigation" type="image_viewer_node" output="screen" cwd="ROS_HOME">
    <param name="subcriber_topic_2" value="/vectorfield/image/gridmap/rgb_image"/>
    <param name="subcriber_topic_1" value="/genicam_cam3/image_raw"/>
  </node>

  <!--Image Selecter Node-->
  <node name="image_selecter_node1" pkg="potential_field_navigation" type="image_selecter_node" output="screen" cwd="ROS_HOME">
    <param name="image_publisher_topic" value="/image1"/>
  </node>
  <node name="image_selecter_node2" pkg="potential_field_navigation" type="image_selecter_node" output="screen" cwd="ROS_HOME">
    <param name="image_publisher_topic" value="/image2"/>
  </node>

  <node name="image1_to_vectorfield_node" pkg="potential_field_navigation" type="image_to_vectorfield_node" output="screen" cwd="ROS_HOME">
    <param name="image_listener_topic" value="/image1"/>
    <param name="potentialfield_publisher_topic" value="/potentialfield/image1"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/image1"/>
    <param name="heuristic_factor" value="1.0"/> <?Maximum vector lengh?>
    <param name="heuristic_abs_min" value="0.8"/> <?Undefined An arbitrary value which indecates the start of value decay?>
    <param name="heuristic_apply" value="1"/> <?Use heuristic instead of native vectorfield?>
    <param name="desired_vectorfield_width" value="$(arg image_width)"/>
    <param name="desired_vectorfield_height" value="$(arg image_height)"/>
  </node>

  <node name="image2_to_vectorfield_node" pkg="potential_field_navigation" type="image_to_vectorfield_node" output="screen" cwd="ROS_HOME">
    <param name="image_listener_topic" value="/image2"/>
    <param name="potentialfield_publisher_topic" value="/potentialfield/image2"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/image2"/>
    <param name="heuristic_factor" value="1.0"/> <?Maximum vector lengh?>
    <param name="heuristic_abs_min" value="0.8"/> <?Undefined An arbitrary value which indecates the start of value decay?>
    <param name="heuristic_apply" value="1"/> <?Use heuristic instead of native vectorfield?>
    <param name="desired_vectorfield_width" value="$(arg image_width)"/>
    <param name="desired_vectorfield_height" value="$(arg image_height)"/>
  </node>

  <node name="vectorfield_to_gridmap_node" pkg="potential_field_navigation" type="vectorfield_to_gridmap_node" output="screen" cwd="ROS_HOME">
    <param name="meter_per_pixel" value="$(arg meter_per_pixel)"/>
    <param name="frame_id" value="$(arg cam)_image"/>
    <param name="vectorfield_listener_topic" value="/vectorfield/image"/>
    <param name="gridmap_publisher_topic" value="/vectorfield/image/gridmap"/>
  </node>

  <node name="vectorfield_amiro3_to_gridmap_node" pkg="potential_field_navigation" type="vectorfield_to_gridmap_node" output="screen" cwd="ROS_HOME">
    <param name="meter_per_pixel" value="$(arg meter_per_pixel)"/>
    <param name="frame_id" value="$(arg cam)_image"/>
    <param name="vectorfield_listener_topic" value="/vectorfield/amiro3"/>
    <param name="gridmap_publisher_topic" value="/vectorfield/amiro3/gridmap"/>
  </node>

  <node name="vectorfield_amiro9_to_gridmap_node" pkg="potential_field_navigation" type="vectorfield_to_gridmap_node" output="screen" cwd="ROS_HOME">
    <param name="meter_per_pixel" value="$(arg meter_per_pixel)"/>
    <param name="frame_id" value="$(arg cam)_image"/>
    <param name="vectorfield_listener_topic" value="/vectorfield/amiro9"/>
    <param name="gridmap_publisher_topic" value="/vectorfield/amiro9/gridmap"/>
  </node>

  <!--Transform-->
  <!--<node name="tf_world_cam" pkg="tf" type="static_transform_publisher" args="0 0 3.66265 -0.00251701 0.036905 3.12117 world $(arg cam) 100"/>-->
  <node name="tf_world_cam" pkg="tf" type="static_transform_publisher" args="0 0 3.66265 0 0 3.14159 world $(arg cam) 100"/>
  <node name="tf_world_cam_image" pkg="tf" type="static_transform_publisher" args="0 0 0 1.5708 0 0 world $(arg cam)_image 100"/>

  <!--Bridges-->

  <node name="AMiRo3" pkg="ros_to_rsb_bridge" type="ros_geometry_msgs_twist_to_rst_value_array" output="screen" cwd="ROS_HOME">
    <param name="ros_listener_topic" value="/amiro3/cmd_vel"/>
    <param name="rsb_publish_scope" value="/amiro3/motor/5"/>
    <param name="duration" value="1000000"/>
  </node>

  <node name="AMiRo4" pkg="ros_to_rsb_bridge" type="ros_geometry_msgs_twist_to_rst_value_array" output="screen" cwd="ROS_HOME">
    <param name="ros_listener_topic" value="/amiro4/cmd_vel"/>
    <param name="rsb_publish_scope" value="/amiro4/motor/5"/>
    <param name="duration" value="1000000"/>
  </node>

  <node name="AMiRo6" pkg="ros_to_rsb_bridge" type="ros_geometry_msgs_twist_to_rst_value_array" output="screen" cwd="ROS_HOME">
    <param name="ros_listener_topic" value="/amiro6/cmd_vel"/>
    <param name="rsb_publish_scope" value="/amiro6/motor/5"/>
    <param name="duration" value="1000000"/>
  </node>

  <node name="AMiRo7" pkg="ros_to_rsb_bridge" type="ros_geometry_msgs_twist_to_rst_value_array" output="screen" cwd="ROS_HOME">
    <param name="ros_listener_topic" value="/amiro7/cmd_vel"/>
    <param name="rsb_publish_scope" value="/amiro7/motor/5"/>
    <param name="duration" value="1000000"/>
  </node>
  
  <node name="AMiRo8" pkg="ros_to_rsb_bridge" type="ros_geometry_msgs_twist_to_rst_value_array" output="screen" cwd="ROS_HOME">
    <param name="ros_listener_topic" value="/amiro8/cmd_vel"/>
    <param name="rsb_publish_scope" value="/amiro8/motor/5"/>
    <param name="duration" value="1000000"/>
  </node>

  <node name="AMiRo9" pkg="ros_to_rsb_bridge" type="ros_geometry_msgs_twist_to_rst_value_array" output="screen" cwd="ROS_HOME">
    <param name="ros_listener_topic" value="/amiro9/cmd_vel"/>
    <param name="rsb_publish_scope" value="/amiro9/motor/5"/>
    <param name="duration" value="1000000"/>
  </node>
  
  <!--AMiRo Vectorfield Creators -->
  <node name="odom3_to_vectorfield_node" pkg="potential_field_navigation" type="odom_to_vectorfield_node" output="screen" cwd="ROS_HOME">
    <param name="meter_per_pixel" value="$(arg meter_per_pixel)"/>
    <param name="frame_id" value="world"/>
    <!--<param name="amiro_odom_listener_topic" value="$(arg tracker_prefix)/odom/3"/>-->
    <param name="amiro_odom_listener_topic" value="$(arg tracker_prefix)/pixel/3" if="$(arg pixel_mode)"/>
    <param name="potentialfield_publisher_topic" value="/potentialfield/amiro3"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/amiro3"/>
    <param name="pixel_mode" value="$(arg pixel_mode)"/>
    <param name="pixel_scale" value="$(arg pixel_scale)"/>
    <param name="image_width" value="$(arg image_width)"/>
    <param name="image_height" value="$(arg image_height)"/>
    <param name="heuristic_abs_min" value="$(arg amiro_heuristic_abs_min)"/> <?Undefined An arbitrary value which indecates the start of value decay?>
    <param name="heuristic_factor" value="$(arg amiro_heuristic_factor)"/> <?Maximum vector lengh?>
    <param name="minimum_pose_difference_pixel" value="$(arg amiro_minimum_pose_difference_pixel)"/> <?Only recalculate the map if the robot has moved that much?>
  </node>

  <node name="odom4_to_vectorfield_node" pkg="potential_field_navigation" type="odom_to_vectorfield_node" output="screen" cwd="ROS_HOME">
    <param name="meter_per_pixel" value="$(arg meter_per_pixel)"/>
    <param name="frame_id" value="world"/>
    <!--<param name="amiro_odom_listener_topic" value="$(arg tracker_prefix)/odom/4"/>-->
    <param name="amiro_odom_listener_topic" value="$(arg tracker_prefix)/pixel/4" if="$(arg pixel_mode)"/>
    <param name="potentialfield_publisher_topic" value="/potentialfield/amiro4"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/amiro4"/>
    <param name="pixel_mode" value="$(arg pixel_mode)"/>
    <param name="pixel_scale" value="$(arg pixel_scale)"/>
    <param name="image_width" value="$(arg image_width)"/>
    <param name="image_height" value="$(arg image_height)"/>
    <param name="heuristic_abs_min" value="$(arg amiro_heuristic_abs_min)"/> <?Undefined An arbitrary value which indecates the start of value decay?>
    <param name="heuristic_factor" value="$(arg amiro_heuristic_factor)"/> <?Maximum vector lengh?>
    <param name="minimum_pose_difference_pixel" value="$(arg amiro_minimum_pose_difference_pixel)"/> <?Only recalculate the map if the robot has moved that much?>
  </node>

  <node name="odom6_to_vectorfield_node" pkg="potential_field_navigation" type="odom_to_vectorfield_node" output="screen" cwd="ROS_HOME">
    <param name="meter_per_pixel" value="$(arg meter_per_pixel)"/>
    <param name="frame_id" value="world"/>
    <!--<param name="amiro_odom_listener_topic" value="$(arg tracker_prefix)/odom/6"/>-->
    <param name="amiro_odom_listener_topic" value="$(arg tracker_prefix)/pixel/6" if="$(arg pixel_mode)"/>
    <param name="potentialfield_publisher_topic" value="/potentialfield/amiro6"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/amiro6"/>
    <param name="pixel_mode" value="$(arg pixel_mode)"/>
    <param name="pixel_scale" value="$(arg pixel_scale)"/>
    <param name="image_width" value="$(arg image_width)"/>
    <param name="image_height" value="$(arg image_height)"/>
    <param name="heuristic_abs_min" value="$(arg amiro_heuristic_abs_min)"/> <?Undefined An arbitrary value which indecates the start of value decay?>
    <param name="heuristic_factor" value="$(arg amiro_heuristic_factor)"/> <?Maximum vector lengh?>
    <param name="minimum_pose_difference_pixel" value="$(arg amiro_minimum_pose_difference_pixel)"/> <?Only recalculate the map if the robot has moved that much?>
  </node>

  <node name="odom7_to_vectorfield_node" pkg="potential_field_navigation" type="odom_to_vectorfield_node" output="screen" cwd="ROS_HOME">
    <param name="meter_per_pixel" value="$(arg meter_per_pixel)"/>
    <param name="frame_id" value="world"/>
    <!--<param name="amiro_odom_listener_topic" value="$(arg tracker_prefix)/odom/7"/>-->
    <param name="amiro_odom_listener_topic" value="$(arg tracker_prefix)/pixel/7" if="$(arg pixel_mode)"/>
    <param name="potentialfield_publisher_topic" value="/potentialfield/amiro7"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/amiro7"/>
    <param name="pixel_mode" value="$(arg pixel_mode)"/>
    <param name="pixel_scale" value="$(arg pixel_scale)"/>
    <param name="image_width" value="$(arg image_width)"/>
    <param name="image_height" value="$(arg image_height)"/>
    <param name="heuristic_abs_min" value="$(arg amiro_heuristic_abs_min)"/> <?Undefined An arbitrary value which indecates the start of value decay?>
    <param name="heuristic_factor" value="$(arg amiro_heuristic_factor)"/> <?Maximum vector lengh?>
    <param name="minimum_pose_difference_pixel" value="$(arg amiro_minimum_pose_difference_pixel)"/> <?Only recalculate the map if the robot has moved that much?>
  </node>

  <node name="odom8_to_vectorfield_node" pkg="potential_field_navigation" type="odom_to_vectorfield_node" output="screen" cwd="ROS_HOME">
    <param name="meter_per_pixel" value="$(arg meter_per_pixel)"/>
    <param name="frame_id" value="world"/>
    <!--<param name="amiro_odom_listener_topic" value="$(arg tracker_prefix)/odom/8"/>-->
    <param name="amiro_odom_listener_topic" value="$(arg tracker_prefix)/pixel/8" if="$(arg pixel_mode)"/>
    <param name="potentialfield_publisher_topic" value="/potentialfield/amiro8"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/amiro8"/>
    <param name="pixel_mode" value="$(arg pixel_mode)"/>
    <param name="pixel_scale" value="$(arg pixel_scale)"/>
    <param name="image_width" value="$(arg image_width)"/>
    <param name="image_height" value="$(arg image_height)"/>
    <param name="heuristic_abs_min" value="$(arg amiro_heuristic_abs_min)"/> <?Undefined An arbitrary value which indecates the start of value decay?>
    <param name="heuristic_factor" value="$(arg amiro_heuristic_factor)"/> <?Maximum vector lengh?>
    <param name="minimum_pose_difference_pixel" value="$(arg amiro_minimum_pose_difference_pixel)"/> <?Only recalculate the map if the robot has moved that much?>
  </node>

  <node name="odom9_to_vectorfield_node" pkg="potential_field_navigation" type="odom_to_vectorfield_node" output="screen" cwd="ROS_HOME">
    <param name="meter_per_pixel" value="$(arg meter_per_pixel)"/>
    <param name="frame_id" value="world"/>
    <!--<param name="amiro_odom_listener_topic" value="$(arg tracker_prefix)/odom/9"/>-->
    <param name="amiro_odom_listener_topic" value="$(arg tracker_prefix)/pixel/9" if="$(arg pixel_mode)"/>
    <param name="potentialfield_publisher_topic" value="/potentialfield/amiro9"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/amiro9"/>
    <param name="pixel_mode" value="$(arg pixel_mode)"/>
    <param name="pixel_scale" value="$(arg pixel_scale)"/>
    <param name="image_width" value="$(arg image_width)"/>
    <param name="image_height" value="$(arg image_height)"/>
    <param name="heuristic_abs_min" value="$(arg amiro_heuristic_abs_min)"/> <?Undefined An arbitrary value which indecates the start of value decay?>
    <param name="heuristic_factor" value="$(arg amiro_heuristic_factor)"/> <?Maximum vector lengh?>
    <param name="minimum_pose_difference_pixel" value="$(arg amiro_minimum_pose_difference_pixel)"/> <?Only recalculate the map if the robot has moved that much?>
  </node>

  <!--<node name="odom4_vectorfield_to_gridmap_node" pkg="potential_field_navigation" type="vectorfield_to_gridmap_node" output="screen" cwd="ROS_HOME">-->
    <!--<param name="meter_per_pixel" value="$(arg meter_per_pixel)"/>-->
    <!--<param name="frame_id" value="world"/>-->
    <!--<param name="vectorfield_listener_topic" value="/vectorfield/amiro3"/>-->
    <!--<param name="gridmap_publisher_topic" value="/vectorfield/amiro2/gridmap"/>-->
  <!--</node>-->
  
  <!--Fusion-->
<!--  <node name="vectorfield_merger_3_4" pkg="potential_field_navigation" type="vectorfield_merger_node" output="screen" cwd="ROS_HOME">
    <param name="field1_listener_topic" value="/vectorfield/amiro3"/>
    <param name="field2_listener_topic" value="/vectorfield/amiro4"/>
    <param name="field_width" value="$(arg image_width)"/>
    <param name="field_height" value="$(arg image_height)"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/amiro3_amiro4/fused"/>
  </node>

  <node name="vectorfield_merger_6_9" pkg="potential_field_navigation" type="vectorfield_merger_node" output="screen" cwd="ROS_HOME">
    <param name="field1_listener_topic" value="/vectorfield/amiro6"/>
    <param name="field2_listener_topic" value="/vectorfield/amiro9"/>
    <param name="field_width" value="$(arg image_width)"/>
    <param name="field_height" value="$(arg image_height)"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/amiro6_amiro9/fused"/>
  </node>

  <node name="vectorfield_merger_7_8" pkg="potential_field_navigation" type="vectorfield_merger_node" output="screen" cwd="ROS_HOME">
    <param name="field1_listener_topic" value="/vectorfield/amiro7"/>
    <param name="field2_listener_topic" value="/vectorfield/amiro8"/>
    <param name="field_width" value="$(arg image_width)"/>
    <param name="field_height" value="$(arg image_height)"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/amiro7_amiro8/fused"/>
  </node>

  <node name="vectorfield_merger_34_69" pkg="potential_field_navigation" type="vectorfield_merger_node" output="screen" cwd="ROS_HOME">
    <param name="field1_listener_topic" value="/vectorfield/amiro3_amiro4/fused"/>
    <param name="field2_listener_topic" value="/vectorfield/amiro6_amiro9/fused"/>
    <param name="field_width" value="$(arg image_width)"/>
    <param name="field_height" value="$(arg image_height)"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/amiro3_amiro4_amiro6_amiro9/fused"/>
  </node>

  <node name="vectorfield_merger_3469_78" pkg="potential_field_navigation" type="vectorfield_merger_node" output="screen" cwd="ROS_HOME">
    <param name="field1_listener_topic" value="/vectorfield/amiro3_amiro4_amiro6_amiro9/fused"/>
    <param name="field2_listener_topic" value="/vectorfield/amiro7_amiro8/fused"/>
    <param name="field_width" value="$(arg image_width)"/>
    <param name="field_height" value="$(arg image_height)"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/amiro3_amiro4_amiro6_amiro7_amiro8_amiro9/fused"/>
  </node>-->

 <!-- <node name="vectorfield_merger_3469_image" pkg="potential_field_navigation" type="vectorfield_merger_node" output="screen" cwd="ROS_HOME">
    <param name="field1_listener_topic" value="/vectorfield/amiro3_amiro4_amiro6_amiro7_amiro8_amiro9/fused"/>
    <param name="field2_listener_topic" value="/vectorfield/image"/>
    <param name="field_width" value="$(arg image_width)"/>
    <param name="field_height" value="$(arg image_height)"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/fused"/>
    <param name="normalize" value="1"/>
  </node>-->

  <node name="vectorfield_merger_image1_image2" pkg="potential_field_navigation" type="vectorfield_merger_node" output="screen" cwd="ROS_HOME">
    <param name="field1_listener_topic" value="/vectorfield/image1"/>
    <param name="field2_listener_topic" value="/vectorfield/image2"/>
    <param name="field_width" value="$(arg image_width)"/>
    <param name="field_height" value="$(arg image_height)"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/image"/>
    <param name="normalize" value="0"/>
  </node>

  <node name="vectorfield_merger_3_4" pkg="potential_field_navigation" type="vectorfield_merger_node" output="screen" cwd="ROS_HOME">
    <param name="field1_listener_topic" value="/vectorfield/amiro4"/>
    <param name="field2_listener_topic" value="/vectorfield/amiro3"/>
    <param name="field_width" value="$(arg image_width)"/>
    <param name="field_height" value="$(arg image_height)"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/34/fused"/>
    <param name="normalize" value="0"/>
  </node>

  <node name="vectorfield_merger_7_9" pkg="potential_field_navigation" type="vectorfield_merger_node" output="screen" cwd="ROS_HOME">
    <param name="field1_listener_topic" value="/vectorfield/amiro7"/>
    <param name="field2_listener_topic" value="/vectorfield/amiro9"/>
    <param name="field_width" value="$(arg image_width)"/>
    <param name="field_height" value="$(arg image_height)"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/79/fused"/>
    <param name="normalize" value="0"/>
  </node>

  <node name="vectorfield_merger_6_7" pkg="potential_field_navigation" type="vectorfield_merger_node" output="screen" cwd="ROS_HOME">
    <param name="field1_listener_topic" value="/vectorfield/amiro6"/>
    <param name="field2_listener_topic" value="/vectorfield/amiro7"/>
    <param name="field_width" value="$(arg image_width)"/>
    <param name="field_height" value="$(arg image_height)"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/67/fused"/>
    <param name="normalize" value="0"/>
  </node>

  <node name="vectorfield_merger_6_9" pkg="potential_field_navigation" type="vectorfield_merger_node" output="screen" cwd="ROS_HOME">
    <param name="field1_listener_topic" value="/vectorfield/amiro6"/>
    <param name="field2_listener_topic" value="/vectorfield/amiro9"/>
    <param name="field_width" value="$(arg image_width)"/>
    <param name="field_height" value="$(arg image_height)"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/69/fused"/>
    <param name="normalize" value="0"/>
  </node>

  <node name="vectorfield_merger_3_6" pkg="potential_field_navigation" type="vectorfield_merger_node" output="screen" cwd="ROS_HOME">
    <param name="field1_listener_topic" value="/vectorfield/amiro3"/>
    <param name="field2_listener_topic" value="/vectorfield/amiro6"/>
    <param name="field_width" value="$(arg image_width)"/>
    <param name="field_height" value="$(arg image_height)"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/36/fused"/>
    <param name="normalize" value="0"/>
  </node>

  <node name="vectorfield_merger_4_6" pkg="potential_field_navigation" type="vectorfield_merger_node" output="screen" cwd="ROS_HOME">
    <param name="field1_listener_topic" value="/vectorfield/amiro4"/>
    <param name="field2_listener_topic" value="/vectorfield/amiro6"/>
    <param name="field_width" value="$(arg image_width)"/>
    <param name="field_height" value="$(arg image_height)"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/46/fused"/>
    <param name="normalize" value="0"/>
  </node>

  <node name="vectorfield_merger_3467" pkg="potential_field_navigation" type="vectorfield_merger_node" output="screen" cwd="ROS_HOME">
    <param name="field1_listener_topic" value="/vectorfield/34/fused"/>
    <param name="field2_listener_topic" value="/vectorfield/67/fused"/>
    <param name="field_width" value="$(arg image_width)"/>
    <param name="field_height" value="$(arg image_height)"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/3467/fused"/>
    <param name="normalize" value="0"/>
  </node>

  <node name="vectorfield_merger_3469" pkg="potential_field_navigation" type="vectorfield_merger_node" output="screen" cwd="ROS_HOME">
    <param name="field1_listener_topic" value="/vectorfield/34/fused"/>
    <param name="field2_listener_topic" value="/vectorfield/69/fused"/>
    <param name="field_width" value="$(arg image_width)"/>
    <param name="field_height" value="$(arg image_height)"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/3469/fused"/>
    <param name="normalize" value="0"/>
  </node>

  <node name="vectorfield_merger_3479" pkg="potential_field_navigation" type="vectorfield_merger_node" output="screen" cwd="ROS_HOME">
    <param name="field1_listener_topic" value="/vectorfield/34/fused"/>
    <param name="field2_listener_topic" value="/vectorfield/79/fused"/>
    <param name="field_width" value="$(arg image_width)"/>
    <param name="field_height" value="$(arg image_height)"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/3479/fused"/>
    <param name="normalize" value="0"/>
  </node>

  <node name="vectorfield_merger_3679" pkg="potential_field_navigation" type="vectorfield_merger_node" output="screen" cwd="ROS_HOME">
    <param name="field1_listener_topic" value="/vectorfield/36/fused"/>
    <param name="field2_listener_topic" value="/vectorfield/79/fused"/>
    <param name="field_width" value="$(arg image_width)"/>
    <param name="field_height" value="$(arg image_height)"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/3679/fused"/>
    <param name="normalize" value="0"/>
  </node>

  <node name="vectorfield_merger_4679" pkg="potential_field_navigation" type="vectorfield_merger_node" output="screen" cwd="ROS_HOME">
    <param name="field1_listener_topic" value="/vectorfield/46/fused"/>
    <param name="field2_listener_topic" value="/vectorfield/79/fused"/>
    <param name="field_width" value="$(arg image_width)"/>
    <param name="field_height" value="$(arg image_height)"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/4679/fused"/>
    <param name="normalize" value="0"/>
  </node>

  <node name="vectorfield_merger_3467_image" pkg="potential_field_navigation" type="vectorfield_merger_node" output="screen" cwd="ROS_HOME">
    <param name="field1_listener_topic" value="/vectorfield/3467/fused"/>
    <param name="field2_listener_topic" value="/vectorfield/image"/>
    <param name="field_width" value="$(arg image_width)"/>
    <param name="field_height" value="$(arg image_height)"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/3467image/fused"/>
    <param name="normalize" value="1"/>
  </node>


  <node name="vectorfield_merger_3479_image" pkg="potential_field_navigation" type="vectorfield_merger_node" output="screen" cwd="ROS_HOME">
    <param name="field1_listener_topic" value="/vectorfield/3479/fused"/>
    <param name="field2_listener_topic" value="/vectorfield/image"/>
    <param name="field_width" value="$(arg image_width)"/>
    <param name="field_height" value="$(arg image_height)"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/3479image/fused"/>
    <param name="normalize" value="1"/>
  </node>

  <node name="vectorfield_merger_3469_image" pkg="potential_field_navigation" type="vectorfield_merger_node" output="screen" cwd="ROS_HOME">
    <param name="field1_listener_topic" value="/vectorfield/3469/fused"/>
    <param name="field2_listener_topic" value="/vectorfield/image"/>
    <param name="field_width" value="$(arg image_width)"/>
    <param name="field_height" value="$(arg image_height)"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/3469image/fused"/>
    <param name="normalize" value="1"/>
  </node>


  <node name="vectorfield_merger_3679_image" pkg="potential_field_navigation" type="vectorfield_merger_node" output="screen" cwd="ROS_HOME">
    <param name="field1_listener_topic" value="/vectorfield/3679/fused"/>
    <param name="field2_listener_topic" value="/vectorfield/image"/>
    <param name="field_width" value="$(arg image_width)"/>
    <param name="field_height" value="$(arg image_height)"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/3679image/fused"/>
    <param name="normalize" value="1"/>
  </node>


  <node name="vectorfield_merger_4679_image" pkg="potential_field_navigation" type="vectorfield_merger_node" output="screen" cwd="ROS_HOME">
    <param name="field1_listener_topic" value="/vectorfield/4679/fused"/>
    <param name="field2_listener_topic" value="/vectorfield/image"/>
    <param name="field_width" value="$(arg image_width)"/>
    <param name="field_height" value="$(arg image_height)"/>
    <param name="vectorfield_publisher_topic" value="/vectorfield/4679image/fused"/>
    <param name="normalize" value="1"/>
  </node>


  <node name="fusion_vectorfield_to_gridmap_node" pkg="potential_field_navigation" type="vectorfield_to_gridmap_node" output="screen" cwd="ROS_HOME">
    <param name="meter_per_pixel" value="$(arg meter_per_pixel)"/>
    <param name="frame_id" value="$(arg cam)_image"/>
    <param name="vectorfield_listener_topic" value="/vectorfield/4679image/fused"/>
    <param name="gridmap_publisher_topic" value="/vectorfield/fused/gridmap"/>
  </node>
  
  <!--Steering-->
  <node name="amiro3_vectorfield_to_kinematic_node" pkg="potential_field_navigation" type="vectorfield_to_kinematic_node" output="screen" cwd="ROS_HOME">
    <param name="meter_per_pixel" value="$(arg meter_per_pixel)"/>
    <!--<param name="vectorfield_listener_topic" value="/vectorfield/image"/>-->
    <param name="vectorfield_listener_topic" value="/vectorfield/4679image/fused"/>
    <!--<param name="amiro_odom_listener_topic" value="/artoolkit5_$(arg cam)/cam/odom/3" unless="$(arg pixel_mode)"/>-->
    <param name="amiro_odom_listener_topic" value="$(arg tracker_prefix)/pixel/3" if="$(arg pixel_mode)" />
    <param name="twist_publisher_topic" value="/amiro3/cmd_vel"/>
    <param name="velocityScale_meterPerSecond" value="0.1"/>
    <param name="angularScale_radPerSecond" value="0.5"/>
    <param name="pixel_mode" value="$(arg pixel_mode)"/>
    <param name="pixel_scale" value="$(arg pixel_scale)"/>
    <param name="twist_mode" value="True"/>
  </node>

  <node name="amiro4_vectorfield_to_kinematic_node" pkg="potential_field_navigation" type="vectorfield_to_kinematic_node" output="screen" cwd="ROS_HOME">
    <param name="meter_per_pixel" value="$(arg meter_per_pixel)"/>
    <!--<param name="vectorfield_listener_topic" value="/vectorfield/image"/>-->
    <param name="vectorfield_listener_topic" value="/vectorfield/3679image/fused"/>
    <!--<param name="amiro_odom_listener_topic" value="/artoolkit5_$(arg cam)/cam/odom/4" unless="$(arg pixel_mode)"/>-->
    <param name="amiro_odom_listener_topic" value="$(arg tracker_prefix)/pixel/4" if="$(arg pixel_mode)" />
    <param name="twist_publisher_topic" value="/amiro4/cmd_vel"/>
    <param name="velocityScale_meterPerSecond" value="0.1"/>
    <param name="angularScale_radPerSecond" value="0.5"/>
    <param name="pixel_mode" value="$(arg pixel_mode)"/>
    <param name="pixel_scale" value="$(arg pixel_scale)"/>
    <param name="twist_mode" value="True"/>
  </node>

  <node name="amiro6_vectorfield_to_kinematic_node" pkg="potential_field_navigation" type="vectorfield_to_kinematic_node" output="screen" cwd="ROS_HOME">
    <param name="meter_per_pixel" value="$(arg meter_per_pixel)"/>
    <!--<param name="vectorfield_listener_topic" value="/vectorfield/image"/>-->
    <param name="vectorfield_listener_topic" value="/vectorfield/3479image/fused"/>
    <!--<param name="amiro_odom_listener_topic" value="/artoolkit5_$(arg cam)/cam/odom/4" unless="$(arg pixel_mode)"/>-->
    <param name="amiro_odom_listener_topic" value="$(arg tracker_prefix)/pixel/6" if="$(arg pixel_mode)" />
    <param name="twist_publisher_topic" value="/amiro6/cmd_vel"/>
    <param name="velocityScale_meterPerSecond" value="0.1"/>
    <param name="angularScale_radPerSecond" value="0.5"/>
    <param name="pixel_mode" value="$(arg pixel_mode)"/>
    <param name="pixel_scale" value="$(arg pixel_scale)"/>
    <param name="twist_mode" value="True"/>
  </node>

  <node name="amiro7_vectorfield_to_kinematic_node" pkg="potential_field_navigation" type="vectorfield_to_kinematic_node" output="screen" cwd="ROS_HOME">
    <param name="meter_per_pixel" value="$(arg meter_per_pixel)"/>
    <!--<param name="vectorfield_listener_topic" value="/vectorfield/image"/>-->
    <param name="vectorfield_listener_topic" value="/vectorfield/3469image/fused"/>
    <!--<param name="amiro_odom_listener_topic" value="/artoolkit5_$(arg cam)/cam/odom/4" unless="$(arg pixel_mode)"/>-->
    <param name="amiro_odom_listener_topic" value="$(arg tracker_prefix)/pixel/7" if="$(arg pixel_mode)" />
    <param name="twist_publisher_topic" value="/amiro7/cmd_vel"/>
    <param name="velocityScale_meterPerSecond" value="0.1"/>
    <param name="angularScale_radPerSecond" value="0.5"/>
    <param name="pixel_mode" value="$(arg pixel_mode)"/>
    <param name="pixel_scale" value="$(arg pixel_scale)"/>
    <param name="twist_mode" value="True"/>
  </node>

  <node name="amiro9_vectorfield_to_kinematic_node" pkg="potential_field_navigation" type="vectorfield_to_kinematic_node" output="screen" cwd="ROS_HOME">
    <param name="meter_per_pixel" value="$(arg meter_per_pixel)"/>
    <!--<param name="vectorfield_listener_topic" value="/vectorfield/image"/>-->
    <param name="vectorfield_listener_topic" value="/vectorfield/3467image/fused"/>
    <!--<param name="amiro_odom_listener_topic" value="/artoolkit5_$(arg cam)/cam/odom/9" unless="$(arg pixel_mode)"/>-->
    <param name="amiro_odom_listener_topic" value="$(arg tracker_prefix)/pixel/9" if="$(arg pixel_mode)" />
    <param name="twist_publisher_topic" value="/amiro9/cmd_vel"/>
    <param name="velocityScale_meterPerSecond" value="0.1"/>
    <param name="angularScale_radPerSecond" value="0.5"/>
    <param name="pixel_mode" value="$(arg pixel_mode)"/>
    <param name="pixel_scale" value="$(arg pixel_scale)"/>
    <param name="twist_mode" value="True"/>
  </node>

</launch>
